{{!-- components/c003-stepper__point.hbs --}}

<!-- COMPONENT START -->
<li class="">
    <a href="{{point-href}}">
        <span class="circle {{point-status}}"><i class="fa {{point-icon}}"></i></span>
        <span class="label text-left">{{point-title}} <br/><small>{{point-date}}</small></span>
    </a>
</li>
<!-- COMPONENT END -->
