{{!-- components/c012-card.hbs --}}

<!-- COMPONENT START -->
<div class="card c012-card mb-5">
    {{#if img-src}}
    <img class="card-img-top" src="{{img-src}}" alt="{{img-alt}}">
    {{/if}}
    <div class="card-header">
        <h3 class="h3-responsive">{{heading}}</h3>
        {{#if subheading}}
            <h5 class="h5-responsive">{{subheading}}</h5>
        {{/if}}
    </div>
    <div class="card-body">
        {{{body}}}
    </div>
    {{#if footer}}
    <div class="card-footer">
        {{{footer}}}
    </div>
    {{/if}}
</div>
<!-- COMPONENT END -->
